# ================================
# Global ignores
# ================================
# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
*.out
*.err
logs/
*.gz

# Environment variables and secrets
.env
.env.*
!.env.example

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/
pip-wheel-metadata/
*.egg-info/
.eggs/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# ==================================
# Backend (FastAPI)
# ==================================
# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Coverage / testing
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# IDE settings
.vscode/
.idea/

# Build artifacts
build/
dist/

# SQLite or temporary DBs
*.db
*.sqlite3

# ==================================
# Classifier (Python puro)
# ==================================
# Data and heavy artifacts
classifier/data/
classifier/dataset
classifier/malign_cancer_dataset
classifier/notebooks/data
classifier/model/saved_models
classifier/notebooks/.ipynb_checkpoints/
classifier/notebooks/model
classifier/notebooks/.ipynb_checkpoints
classifier/utils/HAM10000_metadata.csv

# Models or trained weights
classifier/models/
classifier/outputs/
classifier/checkpoints/
*.h5
*.pkl
*.joblib
*.pt
*.onnx

# ==================================
# Frontend (Next.js)
# ==================================
# Node dependencies
frontend/node_modules/

# Build output
frontend/.next/
frontend/out/

# Local env files
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Cache
frontend/.turbo/
frontend/.vercel/
frontend/.swc/
frontend/.eslintcache

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# ==================================
# Optional - Editor and system
# ==================================
# VSCode
.vscode/

# JetBrains
.idea/

# Mac / Windows
.DS_Store
Thumbs.db